#Svetekit
NODE_ENV=development
PUBLIC_NODE_ENV=development
LOG_LEVEL=trace
PUBLIC_IMAGO_URL=http://127.0.0.1:5173
PUBLIC_IMAGO_DATA_CATALOGUE_URL=http://127.0.0.1:5174
MIGRATION_PATH='./src/lib/db/migrations'

# local ckan
CKAN_URL=http://127.0.0.1:5050 # assuming you're running ckan on that port
CKAN_TOKEN=# you need to generate this token


#ory kratos
IDENTITY_SERVER_PUBLIC=http://127.0.0.1:4433
IDENTITY_SERVER_ADMIN=http://127.0.0.1:4434

#ory keto
PERMISSION_SERVER_READ=http://127.0.0.1:4466
PERMISSION_SERVER_WRITE=http://127.0.0.1:4467
IDENTITY_TOKEN=
IDENTITY_PUBLIC_KEY=

# azure storage
STORAGE_AZURE_ACCOUNT_NAME=
STORAGE_AZURE_ACCOUNT_KEY=
STORAGE_AZURE_CONTAINER=

# sentry
PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=

# postgres
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSL=false
DATABASE_URL=
DB_MIGRATING=
DB_SEEDING=
