#Svetekit
NODE_ENV=development
PUBLIC_NODE_ENV=development
LOG_LEVEL=trace
PUBLIC_IMAGO_URL=http://127.0.0.1:5173
PUBLIC_IMAGO_DATA_CATALOGUE_URL=http://127.0.0.1:5174
MIGRATION_PATH='./src/lib/db/migrations'

# local ckan
CKAN_URL=http://127.0.0.1:5050 # assuming you're running ckan on that port
CKAN_TOKEN=# you need to generate this token


#ory kratos
IDENTITY_SERVER_PUBLIC=http://127.0.0.1:4433
IDENTITY_SERVER_ADMIN=http://127.0.0.1:4434

#ory keto
PERMISSION_SERVER_READ=http://127.0.0.1:4466
PERMISSION_SERVER_WRITE=http://127.0.0.1:4467
IDENTITY_TOKEN=
IDENTITY_PUBLIC_KEY=

# DEPRECATED: azure storage, please use the storage configuration
STORAGE_AZURE_ACCOUNT_NAME=<this will be removed soon>
STORAGE_AZURE_ACCOUNT_KEY=<this will be removed soon>
STORAGE_AZURE_CONTAINER=<this will be removed soon>

# sentry
PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=

# postgres
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSL=false
DATABASE_URL=
DB_MIGRATING=false
DB_SEEDING=false

# pipeline configuration
PIPELINE_BACKEND=local # local or azure, for local you'll need to have access to the socket or enable the api

# azure ci
# enable these ones if you want to run the pipeline on azure containers
PIPELINE_AZURE_SUBSCRIPTION_ID=<subscription id>
PIPELINE_AZURE_TENANT_ID=<tenant id> # optional
PIPELINE_AZURE_RESOURCE_GROUP=<resource group where cis it will be deployed>
PIPELINE_AZURE_CONTAINER_GROUP=<container group cis will be deployed>
PIPELINE_AZURE_LOCATION=<resources location>
PIPELINE_AZURE_CONTAINER_NAME=<prefix of each container>
PIPELINE_AZURE_VNET=<vnet that has access to the infra>
PIPELINE_AZURE_SUBNET=<subnet that has access to the infra>
PIPELINE_AZURE_OS_TYPE=<os to be used>
PIPELINE_AZURE_RESTART_POLICY=<restart policy>
# AZURE_DNS_LABEL=<internal dns server>

# local
PIPELINE_LOCAL_SOCKET=/var/run/docker.sock # default location
PIPELINE_LOCAL_HOST=<docker host>
PIPELINE_LOCAL_PORT=2375 # default port

# docker image to use for pipeline
PIPELINE_CONTAINER_IMAGE=<image to be used>

# image credentials
PIPELINE_DOCKER_REGISTRY_SERVER=<auth credentials of pipeline docker image>
PIPELINE_DOCKER_REGISTRY_USERNAME=<auth credentials of pipeline docker image>
PIPELINE_DOCKER_REGISTRY_PASSWORD=<auth credentials of pipeline docker image>


SITE_URL=http://host.docker.internal:5174 # <where your instance is publicly accessible>

# notifications

# nodemailer implementation
NOTIFICATIONS_SMTP_SENDER=<sender account, can be random for local dev>
NOTIFICATIONS_SMTP_BCC=<optional>

NOTIFICATIONS_SMTP_CONNECTION_STRING=<use either this or the following env variables, the connection string takes precedence>

NOTIFICATIONS_SMTP_HOST=
NOTIFICATIONS_SMTP_PORT=
NOTIFICATIONS_SMTP_SECURE=
NOTIFICATIONS_SMTP_IGNORE_TLS=
NOTIFICATIONS_SMTP_USER=
NOTIFICATIONS_SMTP_PASSWORD=
