BACKEND_URL=http://127.0.0.1:8055 # assuming youre running directus on that port
BACKEND_TOKEN=
PUBLIC_NODE_ENV=development
RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=
MASTODON_USER=blog
MASTODON_HOSTNAME=

PUBLIC_CF_TURNSTILE_SITE_KEY=<request from a member of the rse team>
CF_TURNSTILE_SECRET_KEY=<request from a member of the rse team>
